<<<<<<< HEAD
//
// features.scss
//

.features-desc {
  h2 {
    font-size: 28px;
    line-height: 1.6;
  }
  p {
    line-height: 1.8;
  }
}


=======
//
// features.scss
//

.features-desc {
  h2 {
    font-size: 28px;
    line-height: 1.6;
  }
  p {
    line-height: 1.8;
  }
}


>>>>>>> 914565a (flutter embedding)
