<<<<<<< HEAD
//
// services.scss
//

.services-box {
  padding: 30px;
  .services-icon {
    i {
      font-size: 36px;
    }
  }
  .services-title {
    font-size: 18px;
  }
}

=======
//
// services.scss
//

.services-box {
  padding: 30px;
  .services-icon {
    i {
      font-size: 36px;
    }
  }
  .services-title {
    font-size: 18px;
  }
}

>>>>>>> 914565a (flutter embedding)
